<ion-header>
    <ion-navbar >

      <ion-title class="fontColorDetail" *ngIf="newsToDetail;then tituloNovidade else tituloDefault"></ion-title>
      <ng-template #tituloNovidade>{{newsToDetail.titulo}}</ng-template>
      <ng-template #tituloDefault>ops...</ng-template>

    </ion-navbar>
  </ion-header>

<ion-content padding class="newsBgDetail">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
<!--     <ion-list *ngFor="let novidade of newsExistentes | async">
      <ion-item>
          <ion-thumbnail item-start>
            <img src="{{novidade.urlImagem}}"/>
          </ion-thumbnail>
         <h2> {{ novidade.titulo }} </h2>
          <p> {{ novidade.conteudo }} </p>
          <button ion-button clear item-end>ver +</button>
      </ion-item>
    </ion-list>
 -->
 <!-- <ion-grid>
    <ion-row  >
      <ion-col col-6 *ngFor="let novidade of newsExistentes | async">
          <img width="80" height="80" src="{{novidade.urlImagem}}"/>
          <h2>{{ novidade.titulo }}</h2>
          <p>
              {{ novidade.conteudo }}
          </p>
          <button clear>Ver mais...</button>

      </ion-col>
    </ion-row>

  </ion-grid> -->

    <ion-card *ngIf="newsToDetail" >
        <img width="150" height="150" src="{{newsToDetail.urlImagem}}"/>
        <ion-card-content>
          <p>
              {{ newsToDetail.conteudo }}
          </p>
          <p class="fontDateStyle">
              Data criação: {{ newsToDetail.dataNovidade.toDate() | date:'dd-MM-yyyy'}}
          </p>
          <p class="fontDateStyle">Expira em: {{newsToDetail.dataValidade.toDate() | date:'dd-MM-yyyy'}} </p>

        </ion-card-content>
      </ion-card>

</ion-content>
