page-news-detail {

  .newsBgDetail {
    background: #c2d1de;
    // background-image: url('../../assets/imgs/news_bg.jpg');
    background-repeat: no-repeat;
    background-size:cover;
  //  ## Heading
  }

  .toolbar-md  {
    color: rgb(222, 236, 227)!important;
    min-height: 2.0rem!important;
    margin-bottom: -1px;
  }

  .bar-button-default-md,
  .bar-button-clear-md-default,
  .bar-button-md-default {
    color: #ffffff;
    background-color: transparent;
  }


  .tabs-md .tab-button{
    min-height: 2.0rem!important;
    margin-bottom: -1px;
  }
  .toolbar-background .toolbar-background-md {
    background: rgba(218, 187, 16, 0.8);
  }
  .toolbar-background {
    background: rgb(37, 52, 80);
  }

 .toolbar-title-md  {
    color: rgb(222, 236, 227)!important;
  }



  .fontColorDetail {
    color: beige;
    text-shadow: 18px 12px 14px 1px black;
    /* box-shadow: 0 0 0px black; */
  }

  .fontDateStyle {
    font-variant-caps: all-petite-caps;
    font-family: monospace;
    font-style: oblique;
  }
}
